/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Arimo', sans-serif; */

/* Overwite */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"]
{
    font-family: 'Arimo', 'Noto Sans JP', monospace;
}

#menu .pure-menu-heading
{
    background: #d7003a;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
}

.pure-menu-link
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
}

#layout
{
    height: auto;
    height: 100%;
    min-height: 100%;
    padding-bottom: 1em;
}

.header
{
    padding: 0 2em;
    margin-bottom: 1em;
}

.header h1
{
    margin: 0.1em 0;
}

.content
{
    max-width: 100%;
}


/* General */
.pure-g#index-icon-field > div,
.pure-g#profile-grid > div,
.pure-g#profile-grid-who > div
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[class *= "icon-head"]
{
    vertical-align: baseline;
    font-family: 'Josefin Sans', sans-serif;
}

[class *= "icon-head"] > i
{
    text-align: center;
    width: 1em;
    margin-right: 0.3em;
}

.icon-head-h0
{
    font-family: 'Arimo', 'Noto Sans JP', monospace;
}

.icon-head-h1
{
    font-size: 2em;
    font-weight: bold;
    margin: 0.8em 0;
}

.icon-head-h2
{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
    border-bottom: thin solid;
}

.icon-head-h3
{
    font-size: 1.1em;
    font-weight: normal;
    margin: 0.25em 0;
}


/* _layout.jade */
html
{
    height: 100%;
}

body
{
    background-color: #fef4f4;

    font-family: 'Arimo', 'Noto Sans JP', monospace;

    position: relative;

    height: auto;
    min-height: 100%;
}

.circle_img
{
    border-radius:         50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
}

#menu-mopp-icon
{
    width: 80%;
    display: block;
    margin: auto;
    padding: 1em 0;
}

.menu-icon
{
    text-align: center;
    width: 1em;
    padding-right: 0.5em;
}

#menu-link-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#menu-link-container > a
{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.menu-link-icon:hover
{
    color: #d7003a;
}

footer
{
    position: absolute;
    bottom:0;

    height: 3em;
    width: 100%;
    background: #d7003a;
    color: #191818;
}

#footer-content
{
    position: absolute;
    top: 1em;
    bottom: 1em;
}


/* index.jade */
#index-icon-field
{
    padding-bottom: 0.5em;
}

.icon-holder
{
    padding: 1em 0.5em;
}

.icon-holder > .pure-img
{
    margin: auto;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

#github-info-container h2,
#github-info-container h3
{
    margin: 0.25em 0.5em;
    font-family: 'Josefin Sans', sans-serif;
}

#github-info-container ul
{
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;
}

#github-info-container .spinner
{
    margin-top: 1em;
    width: 100%;
    text-align: center;
    font-size: 4em;
}

#github-repos  li
{
    margin: 0.5em 1em;
    padding: 0.25em 0.5em;
    border: solid 2px #89c3eb;
    border-radius:12px;
    text-align: center;
}

.github-repo-name a
{
    text-decoration: none;
    color: #1e50a2;
}

.github-repo-name
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    text-align: left;
}

.github-repo-lang,
.github-repo-updated,
.github-repo-star
{
    font-weight: bold;
    padding: 0 0.3em;
}

.github-repo-star-tag
{
    color: #fcc800;
}

.github-repo-lang-tag,
.github-repo-lang,
.github-repo-updated-tag,
.github-repo-updated
{
    font-size: 0.8em;
}


/* profile.jade */
.profile-header
{
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    width: 100%;
}

#profile-grid > .pad-box
{
    padding: 0.5em 1em;
}

.profile-container
{
    padding: 1em;
    border: solid 1px #CCC;
    box-shadow: 1px 1px 5px #999;
}

.profile-sub-container
{
    padding-left: 1.5em;
    margin-bottom: 1em;
    margin: 0 0.5em 1em 0.5em;
    border-bottom: solid 1px #CCC;
}

.grid-icon-showcase
{
    text-align: center;
}

.grid-icon-showcase [class *= 'devicon'],
.grid-icon-showcase [class *= 'fa-']
{
    font-size: 3em;
}

.grid-icon-showcase p
{
    margin: 0;
    padding: 0;
}

.grid-icon-showcase .icon-box
{
    text-align: center;
    margin-bottom: 0.5em;
}


/* Responsive */
@media (min-width: 48em)
{
    #footer-content
    {
        margin-left: 160px;
    }
}

@media (max-width: 48em)
{
    #footer-content
    {
        margin-left: 5px;
    }
}
