/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Arimo', sans-serif; */

body
{
    font-family: 'Arimo', 'Noto Sans JP', monospace;
}

.circle_img
{
    border-radius:         50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
}

.pure-menu-link
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
}

.pure-menu-heading
{
    font-family: 'Josefin Sans', sans-serif;
}

#side_icon
{
    display: block;
    margin: auto;
}

div#links
{
    float: left;
}

.icon_holder
{
    padding-top: 15px;
}

.mopp_icon,
.reflect canvas,
.reflected {
    width: 100%;
}

