/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Arimo', sans-serif; */

/* Overwite */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"]
{
    font-family: 'Arimo', 'Noto Sans JP', monospace;
}

#menu .pure-menu-heading
{
    background: #d7003a;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
}

.pure-menu-link
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 130%;
}

#layout
{
    height: auto;
    height: 100%;
    min-height: 100%;
    padding-bottom: 1em;
}

.header
{
    padding: 0.5em 2em 0;
    margin-bottom: 1em;
}

.header h1
{
    margin: 0.1em 0;
}

.content
{
    max-width: 100%;
}


/* _layout.jade */
html
{
    height: 100%;
}

body
{
    font-family: 'Arimo', 'Noto Sans JP', monospace;

    position: relative;

    height: auto;
    min-height: 100%;
}

.circle_img
{
    border-radius:         50%;
    -webkit-border-radius: 50%;
    -moz-border-radius:    50%;
}

#menu-mopp-icon
{
    width: 80%;
    display: block;
    margin: auto;
    padding: 1em 0;
}

.menu-icon
{
    text-align: center;
    width: 1em;
    padding-right: 0.5em;
}

#menu-link-container
{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

#menu-link-container > a
{
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0;
}

.menu-link-icon:hover
{
    color: #d7003a;
}

footer
{
    position: absolute;
    bottom:0;

    height: 3em;
    width: 100%;
    background: #d7003a;
    color: #191818;
}

#footer-content
{
    position: absolute;
    top: 1em;
    bottom: 1em;
}


/* index.jade */
.pure-g#index-icon-field > div
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#index-icon-field
{
    border-bottom: 1px solid #eee;
    padding-bottom: 1.5em;
}

.icon-holder
{
    padding: 1em 0.5em;
}

.icon-holder > .pure-img
{
    margin: auto;
    border: solid 1px #CCC;
    -moz-box-shadow: 1px 1px 5px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
}

#github_info
{
    margin-top: 2em;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Responsive */
@media (min-width: 48em)
{
    #footer-content
    {
        margin-left: 160px;
    }

    .icon_holder
    {
        padding: 0.5em 4em;
    }
}

@media (max-width: 48em)
{
    #footer-content
    {
        margin-left: 5px;
    }

    .icon_holder
    {
        padding: 0.2em 0.3em;
    }
}
