mixin icon-head(h, icon, text)
    div(class = 'icon-head-h#{h}')
        i(class!= icon)
        span= text

mixin item-head(icon, text)
    +icon-head(2, icon, text)
    .profile-container
        block

mixin item-sub-head(text)
    +icon-head(3, 'fa fa-chevron-right', text)
    .profile-sub-container
        block

mixin item-line(text, icon)
    if icon
        +icon-head(0, icon, text)
    else
        +icon-head(0, 'fa fa-caret-right', text)

mixin icon-showcase(icon, text)
    .icon-box
        i(class = '#{icon}')
        p= text
