include _utils.jade

+icon-head(1, 'fa fa-hashtag', 'Contact')

.pure-g#contact-grid
    .pure-u-24-24.pure-u-md-12-24.pad-box
        +icon-head(2, 'fa fa-envelope-o', 'Email')
        span
            | ac.kxp165
            i.fa.fa-at
            | gmail.com

    .pure-u-24-24.pure-u-md-12-24.pad-box
        +icon-head(2, 'fa fa-paperclip', 'Links')
        ul
            li: +link('https://github.com/mopp', 'GitHub')
            li: +link('https://twitter.com/mopp_jp', 'Twitter')
            li: +link('https://www.facebook.com/yuta.kobiyama', 'Facebook')
            li: +link('http://qiita.com/mopp', 'Qiita')
            li: +link('https://www.amazon.co.jp/gp/registry/wishlist/L86ZMQY2FVE1', 'Amazon')
