include _utils.jade

.pure-g#index-icon-field
    for img in public.img.mopp_icons._contents
        .pure-u-8-24.pure-u-md-4-24.icon-holder
            img.pure-img(src = 'img/mopp_icons/#{img}', alt = '#{img}')

#github-info-container
    +icon-head(2, 'fa fa-github-square', 'Github Info')
    h3 Repositories
    .pure-g#github-repos
        .spinner
            i.fa.fa-spinner.fa-spin
