div.pure-g#icons_field
    for img in public.img.mopp_icons._contents
        div.pure-u-2-24.icon_holder
            img(src = 'img/mopp_icons/#{img}', alt = '#{img}', class = 'reflect mopp_icon')

h2 This is top page.
