include _utils.jade

+icon-head(1, 'fa fa-hashtag', 'Profile')
.profile-header
    |力こそパワー

.pure-g#profile-grid
    .pure-u-24-24.pad-box
        +item-head('fa fa-user', 'Who')
            .pure-g#profile-grid-who
                .pure-u-24-24.pure-u-md-12-24.pad-box
                    +item-sub-head('Name')
                        +item-line('mopp / もぷり')
                .pure-u-24-24.pure-u-md-12-24.pad-box
                    +item-sub-head('Birthday')
                        +item-line('1994/01/02')
                .pure-u-24-24.pure-u-md-12-24.pad-box
                    +item-sub-head('Hobby')
                        +item-line('Programming', 'fa fa-code')
                        +item-line('Steam (game)', 'fa fa-steam-square')
                .pure-u-24-24.pure-u-md-12-24.pad-box
                    +item-sub-head('Interest')
                        +item-line('Hobby Operating System')
                        +item-line('Vim')

    .pure-u-24-24.pure-u-md-12-24.pad-box
        +item-head('fa fa-book', 'Education')
            +item-sub-head('School')
                +item-line('2012 - 2015: University of Aizu / 会津大学, Undergraduate (early graduation)')
                +item-line('2015 - 2017: University of Aizu / 会津大学, Graduate school')
            +item-sub-head('Laboratory')
                +item-line('System Intelligence Laboratory / システム知能学講座')

    .pure-u-24-24.pure-u-md-12-24.pad-box
        +item-head('fa fa-diamond', 'Experiences')
            +item-line('Erlang application development')
            +item-line('VimConf 2017/2018 MC')
            +item-line('Sensor data analysis using machine learning')
            +item-line('Hobby operating system development')
            +item-line('Vim plugin development')
            +item-line('Android application development')

    .pure-u-24-24.pure-u-md-12-24.pad-box
        +item-head('fa fa-code', 'Programmings')
            .pure-g.grid-icon-showcase
                .pure-u-8-24: +icon-showcase('devicon-c-line', 'C')
                .pure-u-8-24: +icon-showcase('devicon-erlang-plain', 'Erlang')
                .pure-u-8-24: +icon-showcase('devicon-vim-plain', 'Vim script')
                .pure-u-8-24: +icon-showcase('devicon-ruby-plain', 'Ruby')
                .pure-u-8-24: +icon-showcase('devicon-java-plain', 'Java')
                .pure-u-8-24: +icon-showcase('devicon-android-plain', 'Android')
                .pure-u-8-24: +icon-showcase('fa fa-terminal', 'Shell')
            +item-line('Rust')
            +item-line('Assembler')
            +item-line('Octave / Matlab')

    .pure-u-24-24.pure-u-md-12-24.pad-box
        +item-head('fa fa-wrench', 'Tools')
            .pure-g.grid-icon-showcase
                .pure-u-8-24: +icon-showcase('devicon-vim-plain', 'Vim')
                .pure-u-8-24: +icon-showcase('devicon-git-plain', 'Git')
                .pure-u-8-24: +icon-showcase('devicon-chrome-plain', 'Chrome')
                .pure-u-8-24: +icon-showcase('devicon-linux-plain', 'Linux')
                .pure-u-8-24: +icon-showcase('devicon-apple-original', 'Mac OS X')
                .pure-u-8-24: +icon-showcase('devicon-windows8-original', 'Windows')
            +item-line('Neovim')
            +item-line('Gnuplot')
            +item-line('LaTex')
            +item-line('i3 (window manager)')
            +item-line('zsh')
